* {
	margin: 0;
}

body {
	--board-size: calc(55 * var(--vh, 1vh));
	--light-square: #E3C7A3;
	--dark-square: #BC926D;
	height: 100%;
	width: 100%;
	position: fixed;
	display: block;
	font-family: clear sans, helvetica neue, Arial, sans-serif;
}
@media (max-aspect-ratio: 14/16) {
	body {
		--board-size: calc(46 * var(--vh, 1vh));
	}
	game-container {
		max-width: calc(1.06 * var(--board-size)) !important;
		max-height: 100%;
		flex-wrap: wrap;
		align-items: initial !important;
	}
	sidebar-container {
		width: calc(1.06 * var(--board-size)) !important;
		justify-content: center;
		margin-left: 0 !important;
		margin-top: auto;
		height: initial !important;
	}
	sidebar-container game-card {
		margin: 0 calc(.05 * var(--board-size)) !important;
	}
}
@media (max-aspect-ratio: 147/272) {
	body {
		--board-size: calc(85vw);
	}
}
game-container {
	height: 100%;
	max-width: calc(1.53 * var(--board-size));
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	flex-direction: row-reverse;
}
board-container {
	max-height: calc(1.7 * var(--board-size));
	flex: 0 0 calc(1.06 * var(--board-size));
	margin: calc(.1 * var(--board-size)) 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
game-board {
	display: flex;
	position: relative;
	flex: 0 0 var(--board-size);
	height: var(--board-size);
	margin: calc(.1 * var(--board-size)) 0;
	flex-direction: column;
	border: solid calc(.03 * var(--board-size)) transparent;
	border-radius: calc(.03 * var(--board-size));
	background-color: grey;
	transition: background-color .25s ease-in-out;
}
game-container:not([winner="red"]) game-piece[blue] {
	background-color: white;
}
game-container:not([winner="blue"]) game-piece[red] {
	background-color: black;
}
game-container:not([winner="red"]) game-piece[blue]::before,
game-container[winner="blue"] game-board,
game-board[turn="blue"] {
	background-color: deepskyblue;
}
game-container:not([winner="blue"]) game-piece[red]::before,
game-container[winner="red"] game-board,
game-board[turn="red"] {
	background-color: red;
}
game-board-row {
	display: flex;
	height: 20%;
	width: 100%;
	position: relative;
}
game-board-cell {
	display: flex;
	position: relative;
	height: 100%;
	width: 20%;
	background-color: var(--dark-square);
}
game-board-row:nth-child(even) > game-board-cell:nth-child(odd),
game-board-row:nth-child(odd) > game-board-cell:nth-child(even) {
	background-color: var(--light-square);
}
game-board-row:nth-child(4n+1) game-board-cell:nth-child(3)::after {
	content: "";
	display: flex;
	width: 20%;
	height: 20%;
	transform: rotate(45deg);
	background-color: var(--light-square);
	margin: auto;
}
game-board:not([flipped]) game-board-row:last-of-type {
	counter-reset: letters 6;
}
game-board:not([flipped]) game-board-row:last-of-type game-board-cell {
	counter-increment: letters -1;
}
game-board:not([flipped]) game-board {
	counter-reset: rows;
}
game-board:not([flipped]) game-board-row {
	counter-increment: rows;
}
game-board[flipped] game-board-row:last-of-type {
	counter-reset: letters;
}
game-board[flipped] game-board-row:last-of-type game-board-cell {
	counter-increment: letters;
}
game-board[flipped] {
	counter-reset: rows 6;
}
game-board[flipped] game-board-row {
	counter-increment: rows -1;
}
game-board-row:last-of-type game-board-cell::before {
	content: counter(letters, lower-alpha);
}
game-board-row::after {
	content: counter(rows);
}
game-board game-board-row:last-of-type game-board-cell::before {
	bottom: 0;
}
/* game-board[flipped] game-board-row:last-of-type game-board-cell::before {
	top: -400%;
	right: 0;
} */
game-board game-board-row::after {
	right: 0;
}
/* game-board[flipped] game-board-row::after {
	bottom: 0;
} */
game-board-row:last-of-type game-board-cell::before,
game-board-row::after {
	position: absolute;
	font-size: calc(.025 * var(--board-size));
	margin: calc(.008 * var(--board-size)) calc(.012 * var(--board-size));
	font-weight: 600;
	color: var(--light-square);
}
game-board-row:last-of-type game-board-cell:nth-child(even)::before,
game-board-row:nth-child(even)::after {
	color: var(--dark-square);
}
game-ghost-piece,
game-piece {
	left: calc(4% + 20% * var(--x));
	top: calc(4% + 20% * var(--y));
	width: 12%;
	height: 12%;
	display: flex;
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
	z-index: 1;
	background-color: lightgrey;
}
game-piece {
	pointer-events: none;
	transition: opacity ease-in-out .25s, left ease-out .25s, top ease-out .25s, background-color ease-in-out .25s;
}
game-container[winner="blue"] game-piece[red][unmoved],
game-container[winner="red"] game-piece[blue][unmoved] {
	transition: left ease-out .25s, top ease-out .25s, background-color ease-in-out .25s;
}
game-piece[deleting] {
	pointer-events: none;
	opacity: 0 !important;
	z-index: 0;
}
game-board[flipped] game-ghost-piece,
game-board[flipped] > game-piece {
	left: calc(4% + 20% * (4 - var(--x)));
	top: calc(4% + 20% * (4 - var(--y)));
}
game-container[playable="blue"] game-board[turn="blue"] game-piece[blue],
game-container[playable="red"] game-board[turn="red"] game-piece[red] {
	pointer-events: all;
}
game-ghost-piece {
	background-color: #C2C93C99;
}
game-ghost-piece::before {
	content: "";
	border: solid #C2C93C calc(.012 * var(--board-size));
	position: absolute;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	transition: background-color .25s ease-in-out;
}
game-piece::before {
	content: "";
	display: flex;
	position: absolute;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	margin: 10%;
	background-color: grey;
	transition: background-color .25s ease-in-out;
}
game-ghost-piece[master]::after,
game-piece[master]::after {
	content: "";
	display: flex;
	position: absolute;
	width: calc(100% / 3);
	height: calc(100% / 3);
	background-color: inherit;
	margin: calc(100% / 3);
	transform: rotate(45deg);
}
game-ghost-piece[master]::after {
	background-color: #C2C93C;
}
game-container board-ghosts {
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
game-container[ongoing] board-ghosts {
	opacity: 0;
}
game-container[waiting-opponent] game-board::after {
	content: "waiting for second player...";
	display: flex;
	position: absolute;
	background: #555c;
	width: calc(.4 * var(--board-size));
	border-radius: calc(.04 * var(--board-size));
	left: calc(50% - .185 * var(--board-size));
	top: calc(50% - .09 * var(--board-size));
	text-align: center;
	font-size: calc(.04 * var(--board-size));
	line-height: calc(.055 * var(--board-size));
	padding: calc(.035 * var(--board-size));
	color: white;
	font-weight: 400;
}
game-container[waiting-opponent][playable] game-board::after {
	content: "waiting for opponent... (Click to copy invite)";
}
game-container[waiting-opponent][playable] {
	cursor: pointer;
}
game-choice-overlay {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #0007;
	opacity: 0;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 9;
	transform: opacity .25s ease-in-out;
}
game-choice-overlay[visible] {
	pointer-events: all;
	opacity: 1;
}
board-blue-name,
board-red-name {
    position: absolute;
    width: 100%;
    text-align: center;
	font-size: calc(.045 * var(--board-size));
	font-weight: 500;
    transition: top .25s ease-in-out;
}
board-blue-name:empty,
board-red-name:empty {
	top: unset !important;
}
game-board:not([flipped]) board-red-name,
game-board[flipped] board-blue-name {
	top: 105%;
}
game-board:not([flipped]) board-blue-name,
game-board[flipped] board-red-name {
	top: calc(-5% - .045 * var(--board-size));
}
sidebar-container {
	display: flex;
	margin-left: calc(.1 * var(--board-size));
	width: calc(.37 * var(--board-size));
	flex-wrap: wrap;
	height: 100%;
	align-items: center;
	justify-content: center;
}
sidebar-create-button,
sidebar-playing-as,
game-card {
	display: flex;
	height: calc(.17 * var(--board-size));
	border: solid calc(.01 * var(--board-size)) grey;
	border-radius: calc(.025 * var(--board-size));
	flex-direction: row;
	transition: border-color .25s ease-in-out;
}
game-card[owned][highlighted] {
	z-index: 10;
	cursor: pointer;
}
sidebar-container game-card {
	margin: 0;
}
sidebar-create-button,
sidebar-playing-as {
	flex: 1 0 calc(.1 * var(--board-size));
	background-color: #FBF7D5;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
sidebar-create-button::before,
sidebar-playing-as::before,
sidebar-playing-as::after {
	text-align: center;
	font-size: calc(.035 * var(--board-size));
	line-height: calc(.045 * var(--board-size));
}
sidebar-clickToFlip::before {
	content: "Click to flip";
	font-size: calc(.02 * var(--board-size));
	position: absolute;
	right: calc(.006 * var(--board-size));
	bottom: calc(.006 * var(--board-size));
}
sidebar-create-button::before,
sidebar-playing-as::after {
	font-weight: 700;
}
sidebar-create-button::before {
	content: "new game";
}
game-container[winner] sidebar-playing-as {
	flex-direction: row-reverse;
	align-items: center;
}
game-container[winner] sidebar-playing-as::before {
	margin-left: calc(.008 * var(--board-size));
	content: "won";
	font-weight: 700;
}
sidebar-playing-as::before {
	content: "spectating";
}
game-container[playable] sidebar-playing-as::before {
	content: "playing as: ";
}
game-container[winner="red"] sidebar-playing-as::after,
game-container[playable="red"] sidebar-playing-as::after {
	content: "red";
	color: red;
}
game-container[winner="blue"] sidebar-playing-as::after,
game-container[playable="blue"] sidebar-playing-as::after {
	content: "blue";
	color: deepskyblue;
}
game-card {
	flex: 0 0 calc(.35  * var(--board-size));
	margin: 0 calc(.05 * var(--board-size));
	background-color: white;
}
game-card[highlighted] {
	border-color: #C2C93C;
}
game-card[flipped] {
	flex-direction: row-reverse;
}
game-card-grid {
	display: flex;
	width: calc(.8 * .17 * var(--board-size));
	height: calc(.8 * .17 * var(--board-size));
	margin: calc(.1 * .17 * var(--board-size));
	border: solid 1px black;
	border-right: 0;
	border-bottom: 0;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	background-color: white;
}
game-card-grid-cell {
	height: 20%;
	flex: 1 0 19%;
	border: solid 1px black;
	border-left: 0;
	border-top: 0;
	box-sizing: border-box;
	transition: background-color .25s ease-in-out;
}
game-card-grid-cell[possible="1"] {
	background-color: #777;
}
/* game-card[highlighted]:not([highlighted-individual]) game-card-grid-cell[possible="1"], */
game-card-grid-cell[possible="1"][highlighted] {
	background-color: #C2C93C;
}
game-card-grid-cell:nth-child(13) {
	background-color: #333;
}
game-card-name {
	flex: 1 0 0;
	text-align: center;
	line-height: calc(.17 * var(--board-size));
	font-weight: 700;
	font-size: calc(.042 * var(--board-size));
}
#copyTextBox {
	position: fixed;
	height: 0;
	width: 0;
	top: -500vh;
}
toast-notification {
	--toast-size: calc(.5 * var(--board-size));
	display: block;
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	margin: auto;
	max-width: var(--toast-size);
	background: #555c;
	z-index: 9;
	color: white;
	border: solid calc(var(--toast-size) * .05) transparent;
	padding: calc(var(--toast-size) * .02);
	border-radius: calc(var(--toast-size) * .11);
	font-weight: normal;
	font-size: calc(var(--toast-size) * .059);
	opacity: 0;
	transition: opacity .5s ease-in-out;
	user-select: none;
}
toast-notification[visible] {
	opacity: 1;
}